@use '../settings/typography';
@use '../settings/colors';

.text-headline-xl {
  font-weight: typography.$font-weight-semibold;
  font-size: typography.$font-size-headline-xl;
  letter-spacing: typography.$letter-spacing-xl;
}

.text-headline-l {
  font-weight: typography.$font-weight-bold;
  font-size: typography.$font-size-headline-l;
  letter-spacing: typography.$letter-spacing-l;
  &--primary-color {
    color: colors.$primary;
  }
}

.text-headline-m {
  font-weight: typography.$font-weight-medium;
  font-size: typography.$font-size-headline-m;
  letter-spacing: typography.$letter-spacing-l;
}

.text-body {
  font-weight: typography.$font-weight-regular;
  font-size: typography.$font-size-body;
  letter-spacing: typography.$letter-spacing-l;
  &--text-primary-color {
    color: colors.$text-primary;
  }
  &--opacity-36 {
    opacity: 36%;
  }
}

.text-body-2 {
  font-weight: typography.$font-weight-regular;
  font-size: typography.$font-size-body-2;
  letter-spacing: typography.$letter-spacing-xl;
}

.text-caption {
  font-weight: typography.$font-weight-regular;
  font-size: typography.$font-size-caption;
  letter-spacing: typography.$letter-spacing-m;
}
