$font-family: 'Lato', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-headline-xl: 40px;
$font-size-headline-l: 32px;
$font-size-headline-m: 21px;
$font-size-body: 17px;
$font-size-body-2: 15px;
$font-size-caption: 13px;

$letter-spacing-xl: 0.25px;
$letter-spacing-l: 0.5px;
$letter-spacing-m: 0.4px;
