<nav
  class="container d-flex py-3 py-md-4 gap-3 gap-md-5 flex-column flex-md-row align-items-md-center position-fixed top-0 start-0 end-0 bg-black"
>
  <div class="d-flex gap-2 justify-content-center justify-content-md-start">
    <img class="logo" src="logo.svg" alt="logo" />
    <a class="">{{ title() }}</a>
  </div>
  <div class="flex-fill input-group">
    <i class="bi bi-search input-group-text"></i>
    <input type="email" class="form-control" placeholder="Search FindMovies" />
  </div>
</nav>
